*.pyc
*.log
*.lic
*.db
*.exe
*.~pas
*.dcu
*.~ddp
*.~dfm
*.~*
*.~dpr
/gt/static/ligerUI/skins
/gt/static/jquery-easyui-1.3.5
/test/serv/build
/test/serv/dist
/gt/serv/build
/gt/serv/dist